main {
    color: #000000; /* black */
    color: #00007F;
    color: #0000FF; /* water */

    color: #007F00; /* leaf */
    color: #007F7F;
    color: #007FFF; /* sky */

    color: #00FF00;
    color: #00FF7F;
    color: #00FFFF;



    color: #7F0000; /* wood */
    color: #7F007F;
    color: #7F00FF;

    color: #7F7F00;
    color: #7F7F7F; /* steel */
    color: #7F7FFF; /* alumi */

    color: #7FFF00; /* grass */
    color: #7FFF7F;
    color: #7FFFFF;



    color: #FF0000; /* red */
    color: #FF007F;
    color: #FF00FF;
    
    color: #FF7F00;
    color: #FF7F7F;
    color: #FF7FFF;

    color: #FFFF00; /* yellow */
    color: #FFFF7F; /* sand */
    color: #FFFFFF; /* white */
}
